/* FOOTER */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #23272A;
  height: 800px;
  width: 100%;
  margin-top: 1px;

  color: white;
}

/* UPPER FOOTER */

.upper-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 500px;
  width: 90%;
}

.upper-footer-container {
  display: flex;
  align-items: center;

  height: 80%;
  width: 75%;
}

.upper-footer-container-left {
  height: 100%;
  width: calc((100%/3));

  background-color: #23272A;
}

.footer-title {
  font-size: 25px;
  font-weight: bolder;
  color: #7289DA;
  margin-bottom: 20px;
}

.upper-footer-container-left > img {
  width: 20px;
}

.upper-footer-container-right{
  height: 100%;
  width: calc((2*(100%/3))/4);
}

 .upper-footer-container-right > .footer-title {
  font-size: 12px;

  margin-bottom: 10px;
}

.footer-link {
  display: block;
  text-decoration: none;
  color: white;
  margin-bottom: 5px;
  font-size: 12px;
}

/* BOTTOM FOOTER */

.bottom-footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 75%;
  height: 50px;

  border-top: 1px solid #7289DA;
  padding-top: 50px;
}

.bottom-footer-left-section,
.bottom-footer-right-section {
  display: flex;
}

.bottom-footer-right-section {
  justify-content: right;
}

.bottom-footer-left-section {
  justify-content: left;
} 

.register-button {
  background-color: #707fb267;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
}