/*MAIN*/

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

/*SECTIONS*/

.section {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 800px;
  width: 100%;

  background-color: white;
}

.section-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 80%;
  width: 80%;
}

.section-container-image {
  margin-right: 150px;
}

.section-container-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: left;

  height: 100%;
  width: 350px;
}

.section-container-title {
  font-size: 45px;
  font-weight: bolder;

  margin-bottom: 20px
}

.section-container-text {
  font-size: 20px;
  line-height: 25px;
}

/*SECOND SECTION*/

.second-section
.section-container-caption {
  justify-content: flex-start;
  margin-top: 300px;
  margin-right: 100px;
}

.second-section
.section-container-image {
  margin-right: -150px;
}

.second-section {
  background-color: #F6F6F6;
}

/*FOURTH SECTION*/

.fourth-section {
  height: 1000px;
  background-color: #F6F6F6;
}

.fourth-section
.section-container {
  flex-direction: column;
  text-align: center;
}

.fourth-section h3 {
  font-size: 28px;
  font-weight: bolder;

  margin-bottom: 30px
}

.fourth-section 
.download-button {
  background-color: #8EA1E1;
  color: white;
}

/* WAVY PATTERN */

.wavy-pattern {
  background-color: white;
  width: 100%;
}
.wavy-pattern > img {
  display: block;
}

.wavy-pattern1 {
  background-color: #F6F6F6;
  width: 100%;
}
.wavy-pattern1 > img {
  display: block;
}

